[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
jupyter = "*"
mysql-connector = "*"
tqdm = "*"
plotly = "==4.0.0"

[dev-packages]

[requires]
python_version = "3.6"
